@model Heji.Web.Models.SharedDepositMenuViewModel
@{
    Layout = null;
}
<span class="subTabButton chargeTabButton  @ViewBag.active_Deposit" ><a href="@Url.Action("Deposit", "Member")" target="_self"></a>手工存款</span>
@{
    if(Model.Payment == "YeePay")
    {
        if (ViewBag.active_YBpay == "active")
        {
            <span class="subTabButton manualTabButton  @ViewBag.active_YBpay"  ><a href="@Url.Action("YBpay", "Member")" target="_self"></a>在线支付</span>
        }
        else
        {
            <span class="subTabButton manualTabButton" ><a href="@Url.Action("YBpay", "Member")" target="_self"></a>在线支付</span>
        }
    }

    if(Model.Payment == "IPS")
    {
        if (ViewBag.active_HXpay == "active")
        {
            <span class="subTabButton manualTabButton  @ViewBag.active_HXpay" ><a href="@Url.Action("HXpay", "Member")" target="_self"></a>在线支付</span>
        }
        else
        {
            <span class="subTabButton manualTabButton" ><a href="@Url.Action("HXpay", "Member")" target="_self"></a>在线支付</span>
        }
    }
}