@using Heji.Web.Helpers
@model Heji.Web.Models.MemberBankAccountsViewModel
@{
    ViewBag.Title = "财务中心 - 会员中心 - 大奖娱乐官方网站";
    Layout = "~/Views/Shared/_CNLayout.cshtml";
    string ImageServer = ViewContext.ViewData["ImageServer"].ToString();

}
@section AdditionalStyles {
    <link rel="stylesheet" href="@ImageServer/Content/Styles/member.css" />
}
@section AdditionalScripts {
    <script type="text/javascript" src="@ImageServer/Scripts/Custom/member.js"></script>
}
<script type="text/javascript">
  $(document).ready(function () {
        scroll(0, 300) 
    });
    </script>
<div id="wrapper">
    <div class="container">
        <div class="leftRightContent">
            <div class="leftContent">
                <ul id="memberNav" class="sectionNav transparent black">
                    <li class="first button active"><a href="@Url.Action("Finance", "Member")" target="_self">出纳柜台</a></li>
                    <li class="separate">|</li>
                    @if (Model.CurrentUser.TransferType < 2)
                    {
                    <li class="button" style="display:none"><a href="@Url.Action("Transfer", "Member")" target="_self">额度转移方式</a></li>
                    <li class="separate" style="display:none">|</li>
                    }
                    <li class="button"><a href="@Url.Action("Info", "Member")" target="_self">修改资料</a></li>
                    <li class="separate">|</li>
                    <li class="button"><a href="@Url.Action("Transactions", "Member")" target="_self">历史记录</a></li>
                    <li class="separate">|</li>
                    <li class="button"><a href="@Url.Action("Friends", "Member")" target="_self">推荐好友</a></li>
                    <li class="separate">|</li>
                    <li class="button"><a href="@Url.Action("Notices", "Member")" target="_self">最新公告</a></li>
                </ul>
                <div class="banner">
                    <img src="@ImageServer/Content/Images/member/01_03.jpg" alt="">
                </div>
                <div class="article finance">
                    <table class="user">
                        <tr>
                            <td>账户: @Model.CurrentUser.UserName</td>
                            <td class="padLeft">
                                账户余额： <span class="member_balance">@Heji.Web.Helpers.WebFunctions.GetFormattedCurrency(Model.CurrentUser.Balance)</span> 元
                            </td>
                        </tr>
                    </table>
                 @Html.Action("gameMessage", "Member")
                    <div class="tabBlock">
                        <div class="tabButton">
                            <a href="@Url.Action("RapidDeposit", "Member")"><div class="tab">存款</div></a>
                            <a href="@Url.Action("Withdraw", "Member")"><div class="tab">取款</div></a>
                            <a href="@Url.Action("BankAccounts", "Member")"><div class="tab active"style=" background-color: red; color: white; ">绑定银行卡</div></a>
                            <div class="clearfix"></div>
                        </div>
                        <div class="tabContent cardBinding active">
                            <p class="title">已绑定银行卡</p>
                            <table class="cardBindingTable">
                                <tr class="header"><td>序号</td><td>开户银行名称</td><td>银行卡号码</td><td>持卡人姓名</td><td>持卡人身份证</td></tr>
                                @if (Model.UserBanks != null && Model.UserBanks.Count > 0)
                                {
                                    foreach (Heji.Library.Models.TO.UserBankTO uBank in Model.UserBanks)
                                    {
                                        <tr class="data">
                                            <td>@uBank.Id</td>
                                            <td>@uBank.Bank</td>
                                            <td>@Heji.Common.Function.HideCardNo(uBank.AccountNumber, 4)</td>
                                            <td>@uBank.TrueName</td>
                                            <td>@uBank.IDCard</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr class="data"><td colspan="5">暂无绑定的银行卡</td></tr>
                                }
                            </table>
                            <div class="clearfix"></div>

                            <br />

                            <p class="title">绑定新银行卡</p>
                            <p>银行卡资料（请输入您要绑定的银行卡信息；一旦绑定，所有提款将自动汇至此银行卡）</p>
                            <table class="cardAddTable">
                                <tr>
                                    <td class="title">银行卡开户银行名称：</td>
                                    <td>
                                        <span id="cities"></span>
                                        <select name="shortName" class="userslecet" id="shortName" style="width: 150px;">
                                            <option value="">请选择开户银行</option>
                                            <option value='GS'>工商银行</option>
                                            <option value='JS'>建设银行</option>
                                            <option value='ZS'>招商银行</option>
                                            <option value='JT'>交通银行</option>
                                            <option value='NY'>农业银行</option>
                                            <option value='MS'>民生银行</option>
                                            <option value='YZ'>邮政储蓄</option>
                                            <option value='ZG'>中国银行</option>
                                            <option value='ZX'>中信银行</option>
                                            <option value='BJ'>北京银行</option>
                                            <option value='GD'>光大银行</option>
                                            <option value='HX'>华夏银行</option>
                                            <option value='PA'>平安银行</option>
                                            <option value='PF'>浦发银行</option>
                                            <option value='NC'>农村信用合作社</option>
                                            <option value='XY'>兴业银行</option>
                                            <option value='GF'>广发银行</option>
                                            <option value='SZ'>深圳发展银行</option>
                                        </select>
                                        <input type="text" id="bankBranch" name="bankBranch"  autocomplete="off" />*支行 (请准确填写开户行信息)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">新银行卡账号：</td>
                                    <td><input type="text" id="bankAcct" name="bankAcct" onkeyup="value=value.replace(/[^0-9]/g,'')" autocomplete="off" /></td>
                                </tr>
                                <tr>
                                    <td class="title">确认新银行卡账号：</td>
                                    <td><input type="text" id="bankAcct_confirm" name="bankAcct_confirm" onkeyup="value=value.replace(/[^0-9]/g,'')" autocomplete="off" /></td>
                                </tr>
                                <tr>
                                    <td colspan="2">持卡人信息（用于核对绑定银行卡信息）</td>
                                </tr>
                                <tr>
                                    <td class="title">真实姓名：</td>
                                    <td>@(Model.CurrentUser.TrueName)</td>
                                </tr>
                                <tr>
                                    <td class="title">身份证号：</td>
                                    <td><input type="text" id="idcard" name="idcard" onkeyup="value=value.replace(/[^a-zA-Z0-9]/g,'')" autocomplete="off" />(可不填)</td>
                                </tr>
                            </table>
                            <br/>
                            <button class="redButton" id="addBankAccount">增加银行卡</button>
                            <br/>
                            <br/>
                            <div class="lineBlock"></div>
                            <br/>
                            <p>注意事项：</p>
                            <ul>
                                <li>1、银行卡绑定主要用于会员提款使用，一个会员可以绑定多张银行卡。 </li>
                                <li>2、为了您的提款能快速到账，请准确填写办理银行卡时的开户行信息。</li>
                                <li>3、请注意一旦绑定银行卡，不能修改，删除，请认真核对填写。</li>
                                <li>4、会员提现时请选择需要提现到已绑定的银行卡，并仔细核对。</li>
                            </ul>
                            <div class="clearfix"></div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="rightContent">
                @Html.Action("SharedLogin", "CN")
            </div>
            <div class="clearfix"></div>
        </div>
        <ul class="zoneBtn horizontalList clearfix">
            <li class="tw_bbin borderRight"></li>
            <li class="macau_ag "></li>
            <li class="china_ag "></li>
            <li class="electronic borderLeft"></li>
        </ul>
    </div>
</div>