@using Heji.Library.Models.TO
@using Heji.Web.Helpers
@model Heji.Web.Models.MemberBetRecordsViewModel
@{
    ViewBag.Title = "投注派彩记录 - 会员中心 - 大奖娱乐官方网站";
    Layout = "~/Views/Shared/_CNLayout.cshtml";
    string ImageServer = ViewContext.ViewData["ImageServer"].ToString();

}
@section AdditionalStyles {
    <link rel="stylesheet" href="@ImageServer/Content/Styles/member.css" />
}
@section AdditionalScripts {
    <script type="text/javascript" src="@ImageServer/Scripts/Custom/member.js"></script>
}
<div id="wrapper">
    <div class="container">
        <div class="leftRightContent">
            <div class="leftContent">
                <ul id="memberNav" class="sectionNav transparent black">
                    <li class="first button"><a href="@Url.Action("Finance", "Member")" target="_self">出纳柜台</a></li>
                    <li class="separate">|</li>
                    @if (Model.CurrentUser.TransferType < 2)
                    {
                    <li class="button" style="display:none"><a href="@Url.Action("Transfer", "Member")" target="_self">额度转移方式</a></li>
                    <li class="separate" style="display:none">|</li>
                    }
                    <li class="button active"><a href="@Url.Action("Transactions", "Member")" target="_self">历史记录</a></li>
                    <li class="separate">|</li>
                    <li class="button"><a href="@Url.Action("Info", "Member")" target="_self">修改资料</a></li>
                    <li class="separate">|</li>
                    @*<li class="button"><a href="@Url.Action("Friends", "Member")" target="_self">推荐好友</a></li>
                    <li class="separate">|</li>*@
                    <li class="button"><a href="@Url.Action("Notices", "Member")" target="_self">最新公告</a></li>
                </ul>
                <div class="banner">
                    <img src="@ImageServer/Content/Images/member/member-banner-05.jpg" alt="">
                </div>
                <div class="article history">
                    <div class="tabBlock">
                        <div>
                            <a href="@Url.Action("Transactions", "Member")" target="_self"><div class="tab">存取款记录</div></a>
                            <a href="@Url.Action("BetRecords", "Member")" target="_self"><div class="tab active">投注派彩记录</div></a>
                            <a href="@Url.Action("Bonuses", "Member")" target="_self"><div class="tab">红利记录</div></a>
                            <div class="clearfix"></div>
                        </div>
                        <div class="tabContent active">
                                <p>为了会员的信息与资金的安全，存取款与投注派彩仅保留最近7天的记录，如需查询更多，请联系客服。</p>
                       @* <!-- <div class="searchFilter">
                                <div class="searchTitle pullLeft"><img src="@ImageServer/Content/Images/member/member-history-search.jpg" /></div>
                                <div class="searchForm pullRight">
                                    <table>
                                        <tr>
                                            <td>日期：<input type="text" class="datepicker" />到 <input type="text" class="datepicker" /></td>
                                            <td>
                                                <label for="searchCheckbox_1"><input id="searchCheckbox_1" name="searchCheckbox[]" type="checkbox" value="1" />处理中</label>
                                                <label for="searchCheckbox_2"><input id="searchCheckbox_2" name="searchCheckbox[]" type="checkbox" value="2" />拒绝</label>
                                                <label for="searchCheckbox_3"><input id="searchCheckbox_3" name="searchCheckbox[]" type="checkbox" value="3" />审核</label>
                                                <label for="searchCheckbox_4"><input id="searchCheckbox_4" name="searchCheckbox[]" type="checkbox" value="4" />完成</label>
                                            </td>
                                            <td><button class="redButton">查询</button></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="clearfix"></div>
                            </div>-->   *@
                            <div class="lineBlock"></div>
                            <h1 class="articleHeader">投注派彩</h1>
                            <div class="data-display">
                                <table>
                                    <tr  >
                                    <td style="background-color: #000000" rowspan="2">时间</td>
                                    <td style="background-color: #000000" colspan="5">投注记录</td>
                                    <td style="background-color: #000000" colspan="5">派彩记录</td>
                                    </tr>
                                    <tr class="header">
                                        <td>BBin真人</td>
                                        <td>PT真人</td>
                                        <td>PT老虎机</td>
                                        <td>MG真人</td>
                                        <td>MG老虎机</td>
                                        <td>BBin真人</td>
                                        <td>PT真人</td>
                                        <td>PT老虎机</td>
                                        <td>MG真人</td>
                                        <td>MG老虎机</td>
                                    </tr>
                                    @if (Model.Betting != null && Model.Betting.Count() > 0)
                                    {
                                        decimal bbinLiveBets = 0;
                                        decimal ptLiveBets = 0;
                                        decimal ptFlashBets = 0;
                                        decimal bbinLivePayouts = 0;
                                        decimal ptLivePayouts = 0;
                                        decimal ptFlashPayouts = 0;
                                        decimal mgLiveBets = 0;
                                        decimal mgFlashBets = 0;
                                        decimal mgLivePayouts = 0;
                                        decimal mgFlashPayouts = 0;
                                        foreach (BettingTO bet in Model.Betting)
                                        {
                                            bbinLiveBets += bet.BBinLiveBets;
                                            ptLiveBets += bet.PTLiveBets;
                                            ptFlashBets += bet.PTFlashBets;
                                            bbinLivePayouts += bet.BBinLivePayouts;
                                            ptLivePayouts += bet.PTLivePayouts;
                                            ptFlashPayouts += bet.PTFlashPayouts;
                                            <tr>
                                                <td>@bet.Date.ToString("yyyy-MM-dd")</td>
                                                <td>@bet.BBinLiveBets</td>
                                                <td>@bet.PTLiveBets</td>
                                                <td>@bet.PTFlashBets</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>@bet.BBinLivePayouts</td>
                                                <td>@bet.PTLivePayouts</td>
                                                <td>@bet.PTFlashPayouts</td>
                                                <td>0</td>
                                                <td>0</td>           
                                            </tr>
                                        }
                                            <tr>
                                                <td>小计：</td>
                                                <td>@bbinLiveBets</td>
                                                <td>@ptLiveBets</td>
                                                <td>@ptFlashBets</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>@bbinLivePayouts</td>
                                                <td>@ptLivePayouts</td>
                                                <td>@ptFlashPayouts</td>
                                                <td>0</td>
                                                <td>0</td> 
                                            </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                    	    <td colspan="13">暂无记录</td>
                                        </tr>
                                    }
                                </table>
                            </div>
                            @if (Model.Betting != null && Model.Betting.Count > 0)
                            {
                                <div>@Html.Pager("", Model.PageNum, Model.PageSize, Model.totalCount)</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="rightContent">
                @Html.Action("SharedLogin", "CN", new { displayPlatforms = "false" })
            </div>
            <div class="clearfix"></div>
        </div>
        <ul class="zoneBtn horizontalList clearfix">
            <li class="tw_bbin borderRight"></li>
            <li class="macau_ag "></li>
            <li class="china_ag "></li>
            <li class="electronic borderLeft"></li>
        </ul>
    </div>
</div>
