@using Heji.Library.Models.TO
@using Heji.Web.Helpers
@model Heji.Web.Models.MemberNoticesViewModel
@{
    ViewBag.Title = "最新公告 - 会员中心 - 大奖娱乐官方网站";
    Layout = "~/Views/Shared/_CNLayout.cshtml";
    string ImageServer = ViewContext.ViewData["ImageServer"].ToString();

}
@section AdditionalStyles {
    <link rel="stylesheet" href="@ImageServer/Content/Styles/member.css" />
}
@section AdditionalScripts {
    <script type="text/javascript" src="@ImageServer/Scripts/Custom/member.js"></script>
}
<div id="wrapper">
    <div class="container">
        <div class="leftRightContent">
            <div class="leftContent">
                <ul id="memberNav" class="sectionNav transparent black">
                    <li class="first button"><a href="@Url.Action("Finance", "Member")" target="_self">出纳柜台</a></li>
                    <li class="separate">|</li>
                    @if (Model.CurrentUser.TransferType < 2)
                    {
                    <li class="button" style="display:none"><a href="@Url.Action("Transfer", "Member")" target="_self">额度转移方式</a></li>
                    <li class="separate" style="display:none">|</li>
                    }
                    <li class="button"><a href="@Url.Action("Transactions", "Member")" target="_self">历史记录</a></li>
                    <li class="separate">|</li>
                    <li class="button"><a href="@Url.Action("Info", "Member")" target="_self">修改资料</a></li>
                    <li class="separate">|</li>
                    @*<li class="button"><a href="@Url.Action("Friends", "Member")" target="_self">推荐好友</a></li>
                    <li class="separate">|</li>*@
                    <li class="button active"><a href="@Url.Action("Notices", "Member")" target="_self">最新公告</a></li>
                </ul>
                <div class="banner">
                    <img src="@Url.Content("~/Content/Images/member/01_03.jpg")" alt="">
                </div>
                <div class="article news">
                    <h1 class="articleHeader">信息公告</h1>
                    <table>
                        <tr class="header">
                            <td class="title">标题</td>
                            <td class="content">内容</td>
                            <td class="date">时间</td>
                        </tr>
                        @if (Model.Notices != null && Model.Notices.Count > 0)
                        {
                            foreach (NoticeTO notice in Model.Notices)
                            {
                                <tr>
                                    <td class="title">@Html.Raw(notice.Title.Replace("]", "]<br />"))</td>
                                    <td class="content">@Html.Raw(notice.Content)</td>
                                    <td class="date">@Html.Raw(notice.CreateDate.ToString("yyyy-MM-dd<br />HH:mm:ss"))</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3" class="title">暂无公告</td>
                            </tr>
                        }
                    </table>
                    @if (Model.Notices != null && Model.Notices.Count > 0)
                    {
                        <div>@Html.Pager("", Model.PageNum, Model.PageSize, Model.NoticesCount)</div>
                    }
                </div>
            </div>
            <div class="rightContent">
                @Html.Action("SharedLogin", "CN", new { displayPlatforms = "false" })
            </div>
            <div class="clearfix"></div>
        </div>
        <ul class="zoneBtn horizontalList clearfix">
            <li class="tw_bbin borderRight"></li>
            <li class="macau_ag "></li>
            <li class="china_ag "></li>
            <li class="electronic borderLeft"></li>
        </ul>
    </div>
</div>