@{
    ViewBag.Title = "合作协议 - 加盟合作 - 和记娱乐官方网站";
    Layout = "~/Views/Shared/_CNLayout.cshtml";
    string ImageServer = ViewContext.ViewData["ImageServer"].ToString();

}

@section AdditionalStyles {
    <link rel="stylesheet" href="@ImageServer/Content/Styles/agent.css" />
}
<div id="wrapper">
    <div class="container">
        <div class="leftRightContent">
            <div class="leftContent">
                <ul id="agentNav" class="sectionNav transparent black">
                    <li class="first button"><a href="@Url.Action("Affiliate", "CN")" target="_self">加盟优势</a></li>
                    <li class="separate">|</li>
                    <li class="button"><a href="@Url.Action("AffiliateCommission", "CN")" target="_self">佣金方案</a></li>
                    <!-- <li class="separate">|</li>
                    <li class="button"><a href="@Url.Action("AffiliateGift", "CN")" target="_self">回馈礼金</a></li> -->
                    <li class="separate">|</li>
                    <li class="button active"><a href="@Url.Action("AffiliateAgreement", "CN")" target="_self">合作协议</a></li>
                    <li class="separate">|</li>
                    <li class="button"><a href="@Url.Action("AffiliateFAQ", "CN")" target="_self">常见问题</a></li>
                </ul>
                <div class="banner">
                    <img src="@ImageServer/Content/Images/agent/agreement_03.jpg" alt="" />
                </div>
                <div class="article">
　                  <p class="red title">和记娱乐对代理联盟的权利与义务</p><br />
                    <div class="agreementNode">
                        <div class="red">您的合营客户注册</div>
                        我们帮助您的客户注册并跟踪他们的交易。同时遵循我们设立的条件，我们将在必要的情况下保留拒绝客户（或关闭他们的帐户）的权利。一旦在我们这里开设账户， 他们将成为我们的客户并需要遵循我们的规则与条款。
                    </div>
                    <div class="agreementNode">
                        <div class="red">跟踪合营客户的投注</div>
                        我们将跟踪您客户的投注和游戏，同时您也可以通过后台管理查看您的客户活动交易记录。
                    </div>
                    <div class="agreementNode">
                        <div class="red">更改</div>
                        我们有可能会修改或替换此协议中任何的规则和条款，我们会将更新的变动或协议通过您加入合营项目时所提供的电子邮件地址发送到您的邮箱。修正范围可能包括：现行的佣金范围和合营计划条款。如果有任何有异议请联系合营部工作人员。
                    </div>
                    
                    <br /><p class="lineBlock"></p><br />

                    <p class="red title">代理联盟对和记娱乐的权利及义务</p><br />
 
                    <div class="agreementNode">
                        <div class="red">链接到我们的网站</div>
                        同意参与此合营项目，您被视为同意创建和保持独特的网站被链接到和记娱乐网站。您可以通过我们的广告图片、电子邮件、文章或文字链接连接到我们的网站。
                    </div>
                    <div class="agreementNode">
                        <div class="red">最低推荐要求</div> 
                        所有的真人娱乐场合营伙伴需要在加入后的最少推荐5个真实会员才能成为有效代理。如果连续三个月达不到该要求，您的代理帐户的佣金将归＂零＂，如果连续六个月达不到该要求,您的代理资格将被取消。
                    </div>
                    <div class="agreementNode">
                        <div class="red">域名的注册</div>
                        您应避免注册任何与正被使用和记官网名称相似的域名，可先联系合营部门申请批准 。
                    </div>
                    <div class="agreementNode">
                        <div class="red">诚信</div>
                        出于诚信，无论实际上是否会使我们造成损失，您都不可以蓄意从已知的或涉嫌的交易中获利。您必须遵守此协议，否则如果我们有合理的理由相信此交易已经被您蓄意造成，我们将保留扣留所有款项的权利。尽管如果您没有存心造成这类交易，我们仍然保留扣留有关此交易的中介佣金的权利。
                        我们保留暂停向合营伙伴付款的权力，和/或冻结或关闭任何篡改或滥用和记娱乐优惠政策和促销活动的合营伙伴的帐户，不论您知道或不知道。
                    </div>
                    <div class="agreementNode">
                        <div class="red">支付佣金</div>
                        每月必须最少有5个活跃会员您的分成条件才能成立我们将支付您纯利润35% - 55％的佣金＂。（纯利润的定义：纯利润=下线有效活跃玩家总派彩-下线有效活跃玩家总红利）。
                    </div>
                    <div class="agreementNode">
                        <div class="red">特别约定</div>
                        为防堵不肖业者滥用和记所提供的代理优惠制度，我们将严格审核每位代理商申请注册时所提供的个人资料(包括姓名、IP、住址、电邮信箱、电话、支付方式等等)。若经审核发现代理商有任何不良营利企图，或与其他代理商、会员进行合谋套利等行为，和记娱乐公司将关闭该合作代理商之帐户、扣除帐户中的本金，并收回该代理商的所有佣金与优惠。 
                        同一IP/同一姓名/同一收款账号的会员只能是一个加盟代理商的下线玩家，代理商本身不能成为自身及其他代理商的下线会员。 同一IP/同一姓名/同一收款账号只能申请一个代理账号。
                        如果正式成为和记娱乐城的代理合作伙伴后，连续三个月都未能达到我们的第一级代理要求，您的佣金将归零，如果连续六个月都未能达到我们的第一级代理要求，我们将取消您的代理资格。
                    </div>
                </div>
            </div>
            <div class="rightContent">
                @Html.Action("SharedAgentLogin", "CN")
            </div>
            <div class="clearfix"></div>
        </div>
        <ul class="zoneBtn horizontalList clearfix">
            <li class="tw_bbin borderRight"></li>
            <li class="macau_ag "></li>
            <li class="china_ag "></li>
            <li class="electronic borderLeft"></li>
        </ul>
    </div>
</div>