@{
    ViewBag.Title = "合作协议 - 加盟合作 - 大奖娱乐官方网站";
    Layout = "~/Views/Shared/_CNLayout.cshtml";
    string ImageServer = ViewContext.ViewData["ImageServer"].ToString();

}

@section AdditionalStyles {
    <link rel="stylesheet" href="@ImageServer/Content/Styles/agent.css" />
}
<div id="wrapper">
    <div class="container">
        <div class="leftRightContent">
            <div class="leftContent">
                <ul id="agentNav" class="sectionNav transparent black">
                    <li class="first button"><a href="@Url.Action("Affiliate", "CN")" target="_self">大奖优势</a></li>
                    <li class="separate">|</li>
                    <li class="button"><a href="@Url.Action("AffiliateCommission", "CN")" target="_self">佣金方案</a></li>
                    <!-- <li class="separate">|</li>
                    <li class="button"><a href="@Url.Action("AffiliateGift", "CN")" target="_self">回馈礼金</a></li> -->
                    <li class="separate">|</li>
                    <li class="button active"><a href="@Url.Action("AffiliateAgreement", "CN")" target="_self">合作协议</a></li>
                    <li class="separate">|</li>
                    <li class="button"><a href="@Url.Action("AffiliateFAQ", "CN")" target="_self">常见问题</a></li>
                </ul>
                <div class="banner">
                    <img src="@ImageServer/Content/Images/agent/agreement_03.jpg" alt="" />
                </div>
                <div class="article">
　                  <p class="red title">大奖娱乐对合作伙伴的义务和权力</p><br />
                    <div class="agreementNode">
                        <div class="red">您的下线客户注册</div>
               大奖娱乐将帮助您的客户注册并跟踪他们的交易。同时遵循大奖娱乐设立的条件，大奖娱乐将在必要的情况下保留拒绝客户（或关闭他们的帐户）的权利。一旦在大奖娱乐开设账户，所有大奖娱乐的客户将有义务遵守网站所有的规则及条款。
                    </div>
                    <div class="agreementNode">
                        <div class="red">您的下线客户投注</div>
                        我们将跟踪您客户的投注和游戏，同时您也可以通过后台管理查看您的客户活动交易记录。
                    </div>
                    <div class="agreementNode">
                        <div class="red">更改</div>
                   我们有可能会修改或替换此协议中的规则和条款，我们会将更新的变动或协议通过您加入合作伙伴项目时所提供的电子邮件地址发送到您的邮箱。修正范围可能包括：现行的佣金范围和合营计划条款。如果有任何有异议请联系代理部门工作人员aff@ptpt8.com。
                    </div>
                    
                    <br /><p class="lineBlock"></p><br />

                    <p class="red title">代理对大奖娱乐的权利及义务</p><br />
 
                    <div class="agreementNode">
                        <div class="red">链接到我们的网站</div>
                      成为大奖娱乐的合作伙伴后，您可以通过我们提供的广告图片、电子邮件、文章或文字链接连接到我们的网站。
                    </div>
                    <div class="agreementNode">
                        <div class="red">最低推荐要求</div> 
   所有的合作伙伴需要在加入后最少推荐5个真实会员才能成为有效代理。如果连续三个月达不到该要求，您的代理帐户的佣金将归＂零＂，如果连续六个月达不到该要求,您的代理资格将被取消。
                    </div>
                    <!-- <div class="agreementNode">
                        <div class="red">域名的注册</div>
                        您应避免注册任何与正被使用和记官网名称相似的域名，可先联系合营部门申请批准 。
                    </div> -->
                    <div class="agreementNode">
                        <div class="red">诚信</div>
                        出于诚信，无论实际上是否会使我们造成损失，您都不可以蓄意从任何涉嫌骗取红利的交易中获利。您必须遵守此协议，否则如果我们有合理的理由相信此交易已经被您蓄意造成，我们将保留扣留所有款项的权利。

                    </div>
                    <div class="agreementNode">
                        <div class="red">支付佣金</div>
                      每月必须最少有5个活跃会员您的分成条件才能成立, 我们将支付您纯利润35% - 55％的佣金。（纯利润=下线有效活跃玩家总派彩-下线有效活跃玩家总红利）。
                    </div>
                    <div class="agreementNode">
                        <div class="red">特别约定</div>
                       为防堵不肖业者滥用大奖娱乐所提供的代理优惠制度，我们将严格审核每位代理商申请注册时所提供的个人资料(包括姓名、IP、住址、电邮信箱、电话、支付方式等等)。若经审核发现代理商有任何不良营利企图，或与其他代理商、会员进行合谋套利等行为，大奖娱乐将关闭该合作代理商之帐户、扣除帐户中的本金，并收回该代理商的所有佣金与优惠。同一IP/同一姓名/同一收款账号只能申请一个代理账号。同一IP/同一姓名/同一收款账号的会员只能是一个加盟代理商的下线玩家，代理商本身不能成为自身及其他代理商的下线会员。
                    </div>
                </div>
            </div>
            <div class="rightContent">
                @Html.Action("SharedAgentLogin", "CN")
                <div class="lineBlock"></div>
                <img src="@ImageServer/Content/Images/quicklink/client-hotliine.jpg" alt="">
                <div class="lineBlock"></div>
                <img src="@ImageServer/Content/Images/quicklink/manager-interview.jpg" alt="">
                <div class="lineBlock"></div>
                <!--<img src="@ImageServer/Content/Images/quicklink/agent-hotline.jpg" alt="">
                <div class="lineBlock"></div>-->
                <div class="block"><a href="@Url.Action("PTGames", "CN")"><img src="@ImageServer/Content/Images/company/2_15.jpg" alt=""></a></div>
                <div class="lineBlock"></div>
                <div class="block"><a href="@Url.Action("MGGames", "CN")"><img src="@ImageServer/Content/Images/company/2_17.jpg" alt=""></a></div>
                <div class="lineBlock"></div>
                <div class="block"><a href="@Url.Action("BBinIntro", "CN")"><img src="@ImageServer/Content/Images/company/2_18.jpg" alt=""></a></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <ul class="zoneBtn horizontalList clearfix">
            <li class="tw_bbin borderRight"></li>
            <li class="macau_ag "></li>
            <li class="china_ag "></li>
            <li class="electronic borderLeft"></li>
        </ul>
    </div>
</div>