@{
    ViewBag.Title = "常见问题 - 加盟合作 - 大奖娱乐官方网站";
    Layout = "~/Views/Shared/_CNLayout.cshtml";
    string ImageServer = ViewContext.ViewData["ImageServer"].ToString();

}
@section AdditionalStyles {
    <link rel="stylesheet" href="@ImageServer/Content/Styles/agent.css" />
}
<div id="wrapper">
    <div class="container">
        <div class="leftRightContent">
            <div class="leftContent">
                <ul id="agentNav" class="sectionNav transparent black">
                    <li class="first button"><a href="@Url.Action("Affiliate", "CN")" target="_self">大奖优势</a></li>
                    <li class="separate">|</li>
                    <li class="button"><a href="@Url.Action("AffiliateCommission", "CN")" target="_self">佣金方案</a></li>
                    <!-- <li class="separate">|</li>
                    <li class="button"><a href="@Url.Action("AffiliateGift", "CN")" target="_self">回馈礼金</a></li> -->
                    <li class="separate">|</li>
                    <li class="button"><a href="@Url.Action("AffiliateAgreement", "CN")" target="_self">合作协议</a></li>
                    <li class="separate">|</li>
                    <li class="button active"><a href="@Url.Action("AffiliateFAQ", "CN")" target="_self">常见问题</a></li>
                </ul>
                <div class="banner">
                    <img src="@ImageServer/Content/Images/agent/agreement_03.jpg" alt="" />
                </div>
                <div class="article">
                	<p><br/></p>
                    <h4 class="red">加盟合作 常见问题</h4><br />
                    <ul class="numListPoint">
                        <li class="num1">
                            <div class="red">什么是加盟合作计划？</div>
                           大奖娱乐合作伙伴计划是为个人和企业提供的超高利润致富平台，您为大奖介绍会员，他们带来净利润的大部分为您的佣金。您和我们合作无须承担任何财务风险, 您的下线客户盈利, 由大奖娱乐支付, 您的下线客户失利, 您将获得佣金。<br/>
						   合作伙伴终身享受下线会员带来的盈利。
                        </li>
                        <li class="num2">
                            <div class="red">为什么我要选择​大奖娱乐？</div>
                         大奖娱乐多年服务数千名合作伙伴, 理解您的需求, 愿意以最大的让利和最诚信的服务和您共同成长。<br/>
 <div>1. 信心实力：大奖娱乐隶属世界最大的娱乐集团之一汇彩博彩集团，持牌受监管，实力雄厚；</div>
 <div>2. 佣金最高：大奖娱乐提供市场最高的代理佣金，助您月入超过百万，2年退休，享受人生；</div>
 <div>3. 管理下线简便：通过我们的会员管理系统，您可以时时了解下线的交易投注记录和佣金情况，随时提醒会员存款博取大奖；</div>
 <div>4. 代理专线服务：大奖专设代理部门，了解合作伙伴需求，7x24小时帮助您解决问题；</div>
 <div>5. 安全的佣金渠道：每位合作伙伴的佣金都通过唯一的专用银行卡支付，不与其他代理重复，保证安全；</div>
 <div>6. 会员返利超高：大奖对会员的返利高于同行，帮助代理更易吸引下线客户，增加盈利机会。
</div>						 
                        </li>
                        <li class="num3">
                            <div class="red">我适合做合作伙伴吗？</div>
							大奖娱乐在财务, 客服, 推广, 安全各方面把代理的利益放在首位, 适合以下人群:
                            <div>1. 拥有现成的游戏玩家资源, 并能带动玩家在大奖娱乐存款游戏;</div>
                            <div>2. 具有网络和线下推广能力, 能通过推广带来新的玩家;</div>
                            <div>3. 已经与游戏公司合作, 但希望找到更具有实力和让利力度更大的合作伙伴。</div>
                           
                        </li>
                        <li class="num4">
                            <div class="red">我如何成为大奖娱乐的合作伙伴？</div>
                           在“加盟合作”页面点击“注册代理账号”并填写完整的申请资料，然后点击“提交”，审核完成后，您将在24小时内收到登录资料和入门手册。<br/>
作为大奖娱乐合作伙伴，您将获得一个免费的“合作伙伴后台”账户，可以时时了解您下线会员的注册、存款、派彩和您的佣金状况。
                        </li>
                        <li class="num5">
                            <div class="red">加入大奖娱乐的合作伙伴计划是免费的吗？</div>
                       是的，加入大奖娱乐合作伙伴计划是完全免费的，您只要推荐5位会员到大奖娱乐存款游戏，就可以激活您的“合作伙伴”账户，收取佣金。
                        </li>
                        <li class="num6">
                            <div class="red">如何介绍会员？</div>
                           被批准成为大奖娱乐的合作伙伴后，有两种方式介绍会员：
 <div>1. 登录合作伙伴管理后台，注册“真钱账号”，帮助被推荐的客户存款游戏；</div>
 <div>2. 在后台生成专属推广链接并在网上发布，吸引玩家通过此链接进入大奖娱乐存款游戏。</div>
                        </li>
                        <li class="num7">
                            <div class="red">大奖娱乐是如何记录从我发布的链接进入的访客？</div>
                            当访客从您的链接进入大奖娱乐，我们将会通过固定的识别码进行识别，当用户注册成功，他们将永远是您的客户。您可通过登录到“合作伙伴后台”，查看具体的情况。
                        </li>
                        <li class="num8">
                            <div class="red">如何查看我的佣金和下线会员情况？</div>
                           如果您需要查看您下线会员的输赢，请登录到“合作伙伴后台”，选择时间范围，便可查询详细的下线会员存取款记录和输赢情况，以及您个人的佣金状况。
                        </li>
                        <li class="num9">
                            <div class="red">我将如何收到佣金？</div>
                           每月第一个星期一结算，佣金在7个工作日内自动汇到您的银行账户。
                        </li>
						
						
                       <!-- <li class="num10">
                            <div class="red">合作伙伴利润是如何计算？</div>
                            <table class="blackGreyTable">
                                <tr>
                                    <td class="title">级别</td>
                                    <td class="title">当月总纯利收入（人民币）</td>
                                    <td class="title">每月最低活跃会员</td>
                                    <td class="title">当月佣金百分比</td>
                                </tr>
                                <tr>
                                    <td>第一级</td>
                                    <td>1 - 100,000</td>
                                    <td>5 或以上</td>
                                    <td>35%</td>
                                </tr>
                                <tr>
                                    <td>第二级</td>
                                    <td>100,001 - 300,000</td>
                                    <td>10 或以上</td>
                                    <td>40%</td>
                                </tr>
                                <tr>
                                    <td>第三级</td>
                                    <td>300,001 - 500,000</td>
                                    <td>30 或以上</td>
                                    <td>45%</td>
                                </tr>
                                <tr>
                                    <td>第四级</td>
                                    <td>500,001 - 1,000,000</td>
                                    <td>40 或以上</td>
                                    <td>50%</td>
                                </tr>
                                <tr>
                                    <td>第五级</td>
                                    <td>1,000,001+</td>
                                    <td>50 或以上</td>
                                    <td>55%</td>
                                </tr>
                            </table>
                        </li> -->
						
                      
                    </ul>
                </div>
            </div>
            <div class="rightContent">
                @Html.Action("SharedAgentLogin", "CN")
                <div class="lineBlock"></div>
                <img src="@ImageServer/Content/Images/quicklink/client-hotliine.jpg" alt="">
                <div class="lineBlock"></div>
                <img src="@ImageServer/Content/Images/quicklink/manager-interview.jpg" alt="">
                <div class="lineBlock"></div>
                <!--<img src="@ImageServer/Content/Images/quicklink/agent-hotline.jpg" alt="">
                <div class="lineBlock"></div>-->
                <div class="block"><a href="@Url.Action("PTGames", "CN")"><img src="@ImageServer/Content/Images/company/2_15.jpg" alt=""></a></div>
                <div class="lineBlock"></div>
                <div class="block"><a href="@Url.Action("MGGames", "CN")"><img src="@ImageServer/Content/Images/company/2_17.jpg" alt=""></a></div>
                <div class="lineBlock"></div>
                <div class="block"><a href="@Url.Action("BBinIntro", "CN")"><img src="@ImageServer/Content/Images/company/2_18.jpg" alt=""></a></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <ul class="zoneBtn horizontalList clearfix">
            <li class="tw_bbin borderRight"></li>
            <li class="macau_ag "></li>
            <li class="china_ag "></li>
            <li class="electronic borderLeft"></li>
        </ul>
    </div>
</div>