@{
    ViewBag.Title = "佣金方案 - 加盟合作 - 大奖娱乐官方网站";
    Layout = "~/Views/Shared/_CNLayout.cshtml";
    string ImageServer = ViewContext.ViewData["ImageServer"].ToString();

}
@section AdditionalStyles {
    <link rel="stylesheet" href="@ImageServer/Content/Styles/agent.css" />
}
<div id="wrapper">
    <div class="container">
        <div class="leftRightContent">
            <div class="leftContent">
                <ul id="agentNav" class="sectionNav transparent black">
                    <li class="first button"><a href="@Url.Action("Affiliate", "CN")" target="_self">大奖优势</a></li>
                    <li class="separate">|</li>
                    <li class="button active"><a href="@Url.Action("AffiliateCommission", "CN")" target="_self">佣金方案</a></li>
                    <!-- <li class="separate">|</li>
                    <li class="button"><a href="@Url.Action("AffiliateGift", "CN")" target="_self">回馈礼金</a></li> -->
                    <li class="separate">|</li>
                    <li class="button"><a href="@Url.Action("AffiliateAgreement", "CN")" target="_self">合作协议</a></li>
                    <li class="separate">|</li>
                    <li class="button"><a href="@Url.Action("AffiliateFAQ", "CN")" target="_self">常见问题</a></li>
                </ul>
                <div class="banner">
                    <img src="@ImageServer/Content/Images/agent/agreement_03.jpg" alt="" />
                </div>
                <div class="article">
                	<p><br/></p>
                    <div class="red title">佣金方案</div>
                    <div>全网最高最全佣金结算方案,代理佣金比例最高可达60%,代理佣金结算方案包括纯利佣金结算方案、多层纯利佣金结算方案、线下会员洗码佣金结算方案及占成佣金结算方案等。</div>


                    <!--  <table class="blackGreyTable">
                        <tr>
                            <td class="title">级别</td>
                            <td class="title">当月总纯利收入（人民币）</td>
                            <td class="title">每月最低活跃会员</td>
                            <td class="title">当月佣金百分比</td>
                        </tr>
                        <tr>
                            <td>第一级</td>
                            <td>1 - 100,000</td>
                            <td>5或以上</td>
                            <td>35%</td>
                        </tr>
                        <tr>
                            <td>第二级</td>
                            <td>100,001 - 300,000</td>
                            <td>10 或以上</td>
                            <td>40%</td>
                        </tr>
                        <tr>
                            <td>第三级</td>
                            <td>300,001 - 500,000</td>
                            <td>30 或以上</td>
                            <td>45%</td>
                        </tr>
                        <tr>
                            <td>第四级</td>
                            <td>500,001 - 1,000,000</td>
                            <td>40 或以上</td>
                            <td>50%</td>
                        </tr>
                        <tr>
                            <td>第五级</td>
                            <td>1,000,001+</td>
                            <td>50 或以上</td>
                            <td>55%</td>
                        </tr>
                    </table> -->
                    
                    <p>
                        <br />
                        <table height="50">
                            <tr>
                                <td width="170" class="red">纯利润：</td>
                                <td width="30">&nbsp;</td>
                                <td class="borderFormula">会员派彩 – 会员红利</td>
                            </tr>
                        </table>
                        <br />
                    
                        <br />
                        <table height="50">
                            <tr>
                                <td width="170" class="red">纯利佣金结算方案<br />代理佣金：</td>
                                <td width="30">&nbsp;</td>
                                <td class="borderFormula">纯利润 x 当月佣金比例</td>
                            </tr>
                        </table>
                        <br />
                    
                        <br />
                        <table height="50">
                            <tr>
                                <td width="170" class="red">多层纯利佣金结算方案<br />代理佣金：</td>
                                <td width="30">&nbsp;</td>
                                <td class="borderFormula">((线下会员 + 线下代理会员)纯利润) x 当月佣金比例
                                </td>
                            </tr>
                        </table>
                        <br />
                        
                        <br />
                        <table height="50">
                            <tr>
                                <td width="170" class="red">线下会员洗码佣金结算方案<br />代理佣金：</td>
                                <td width="30">&nbsp;</td>
                                <td class="borderFormula">纯利润 x 当月的佣金比例 + 线下会员产生的洗码
                                </td>
                            </tr>
                        </table>
                        <br />
                        
                        <br />
                        <table height="50">
                            <tr>
                                <td width="170" class="red">占成佣金结算方案<br />代理佣金：</td>
                                <td width="30">&nbsp;</td>
                                <td class="borderFormula">(派彩 – 红利) x 占成比例(可自选比例,盈亏共担)</td>
                            </tr>
                        </table>
                        <br />
                    </p>
					 
                   <!--    <br /><p class="lineBlock"></p>

                    <table class="formula">
                        <tr>
                            <td class="red">佣金提成计算:</td>
                            <td class="desc">代理佣金 = 纯利润 × 当月佣金比例</td>
                        </tr>
                    </table>

                    <table class="exampleList">
                        <tr>
                            <td class="title">举例 <span class="number">1</span></td>
                            <td class="desc">假若您介绍的客户在该月为和记娱乐城带来 90,000元人民币的纯利，同时您的活跃会员人数也多于5位，即符合了第一级的两个条件, 那么该月的结算则会按照第一级的35%提成去计算。</td>
                        </tr>
                        <tr>
                            <td class="title">举例 <span class="number">2</span></td>
                            <td class="desc">假若您介绍的客户在该月为和记娱乐城带来 90,000元人民币的纯利，同时您的活跃会员人数少于5位，即符合了第一级的当月总纯利收入，但不符合第一级每月最低活跃会员，您的该笔佣金提成将累计，当您以后达到提佣要求时，我们在当月会将您之前的佣金累计并按达到的佣金百分比计算佣金提成(之前未达到最低提佣标准的提成将按最低提佣比例计算)。</td>
                        </tr>
                        <tr>
                            <td class="title">举例 <span class="number">3</span></td>
                            <td class="desc">假若您介绍的客户在该月为和记娱乐城带来 900,000元人民币的纯利，同时您的活跃会员人数是5至9位之间，即符合了第四级的当月总纯利收入和第一级的每月最低活跃会员，那么该月的结算则会按照第一级的35% 提成去计算。</td>
                        </tr>
                        <tr>
                            <td class="title">举例 <span class="number">4</span></td>
                            <td class="desc">假若您介绍的客户在该月为和记娱乐城带来 9,000元人民币的纯利, 同时您的活跃会员人数是50位或以上，即符合了第一级的当月总纯利收入和第五级的每月最低活跃会员，那么该月的结算则会按照第一级的35% 提成计算。</td>
                        </tr>
                        <tr>
                            <td class="title">举例 <span class="number">5</span></td>
                            <td class="desc">假若您介绍的客户在该月赢得 90,000元人民币，您的佣金会变成负数，该笔负数佣金将会累计，负值佣金会于次月佣金中扣除，如果您下个月佣金为正数并高于人民币100元才发放。</td>
                        </tr>
                    </table>
                    
                    <br /><br /><p class="lineBlock"></p><br /> -->



                    <p>我们7天24小时在线，欢迎您随时和大奖“伙伴经理”联系，尽早踏上令人羡慕的成功豪富之路。</p>


                </div>
            </div>
            <div class="rightContent">
                @Html.Action("SharedAgentLogin", "CN")
                <div class="lineBlock"></div>
                <img src="@ImageServer/Content/Images/quicklink/client-hotliine.jpg" alt="">
                <div class="lineBlock"></div>
                <img src="@ImageServer/Content/Images/quicklink/manager-interview.jpg" alt="">
                <div class="lineBlock"></div>
                <!--<img src="@ImageServer/Content/Images/quicklink/agent-hotline.jpg" alt="">
                <div class="lineBlock"></div>-->
                <div class="block"><a href="@Url.Action("PTGames", "CN")"><img src="@ImageServer/Content/Images/company/2_15.jpg" alt=""></a></div>
                <div class="lineBlock"></div>
                <div class="block"><a href="@Url.Action("MGGames", "CN")"><img src="@ImageServer/Content/Images/company/2_17.jpg" alt=""></a></div>
                <div class="lineBlock"></div>
                <div class="block"><a href="@Url.Action("BBinIntro", "CN")"><img src="@ImageServer/Content/Images/company/2_18.jpg" alt=""></a></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <ul class="zoneBtn horizontalList clearfix">
            <li class="tw_bbin borderRight"></li>
            <li class="macau_ag "></li>
            <li class="china_ag "></li>
            <li class="electronic borderLeft"></li>
        </ul>
    </div>
</div>