@using Heji.Web.Helpers

@{
    ViewBag.Title = "VIP俱乐部 - 大奖娱乐官方网站";
    Layout = "~/Views/Shared/_CNLayout.cshtml";
    string ImageServer = ViewContext.ViewData["ImageServer"].ToString();

}
@section AdditionalStyles {
    <link rel="stylesheet" href="@ImageServer/Content/Styles/vip.css" />
}
@section AdditionalScripts {
    <script type="text/javascript" src="@ImageServer/Scripts/Plugins/jquery.zaccordion.min.js"></script>
    <script type="text/javascript" src="@ImageServer/Scripts/Custom/vip-club.js"></script>
}
<div id="wrapper">
    <div class="container">
		<!-- leftRightContent-->
        <div class="leftRightContent">
			<!-- leftContent -->
            <div class="leftContent">
                <ul id="vipNav" class="sectionNav transparent black">
                    <li class="first button active"><a href="@Url.Action("VIPClub", "CN")" target="_self">贵宾福利</a></li>
                    <li class="separate">|</li>
                    <li class="button"><a href="@Url.Action("VIPPrivilege", "CN")" target="_self">贵宾特权</a></li>
                    <li class="separate">|</li>
                    <li class="button"><a href="@Url.Action("VIPFAQ", "CN")" target="_self">常见问题</a></li>
                    <li class="separate">|</li>
                    <li class="button"><a href="@Url.Action("VIPTerms", "CN")" target="_self">规则条款</a></li>
                </ul>
                <div class="banner">
                    <img src="@ImageServer/Content/Images/vip/club_03.jpg" alt="" />
                </div>
				<!-- article vip -->
                <div class="article vip">
　                  <h4 class="red" style="margin-top:-10px;">贵宾会员</h4>
                    <p>尊享行业最高双边洗码优惠、贵宾专属特权、晋级礼金、周年礼金、一年两次奢华旅游与时尚派对、专业现金流保护、7x24小时专属客户服务，等级越高特权越多！</p>
                    <p><img src="@ImageServer/Content/Images/vip/club_07.jpg" alt=""></p>
           
                 
                    <h4 class="red">贵宾晋级</h4>
                    <table class="blackGreyTable" id="vipClubDetail">
                        <tr>
                            <td class="title" width="75">贵宾<BR />等级</td>
                            <td class="title" width="80">老虎机<BR />投注额要求/周</td>
                            <td class="title" width="80">真人娱乐<BR />投注额要求/周</td>
                            <td class="title">老虎机<BR />洗码</td>
                            <td class="title">真人娱乐<BR />洗码</td>
                            <td class="title">晋级<BR />礼金</td>
                            <td class="title">周年<BR />礼金</td>
							<td class="title">随时<BR />洗码</td>
							<td class="title" width="65">奢华<BR />旅游</td>
					
                        </tr>
                        <tr>
                            <td>
                                <span class="star1 pull-left"></span>
                                <span class="starword pull-left">1星</span>
                            </td>
                            <td><10万</td>
                            <td><20万</td>
                            <td>0.6%</td>
                            <td>0.5%</td>
                            <td>无</td>
							<td>18元</td>
                            <td>无</td>
							<td>无</td>
                        </tr>
                        <tr>
                            <td>
                                <span class="star2 pull-left"></span>
                                <span class="starword pull-left">2星</span>
                                <div class="clearfix"></div>
                            </td>
                            <td>≥10万</td>
                            <td>≥20万</td>
                            <td>0.7%</td>
                            <td>0.6%</td>
							<td>588元</td>
							<td>108元</td>
                            <td>无</td>
							<td>无</td>
                        </tr>
                        <tr>
                            <td>
                                <span class="star3 pull-left"></span>
                                <span class="starword pull-left">3星</span>
                                <div class="clearfix"></div>
                            </td>
                            <td>≥30万</td>
                            <td>≥50万</td>
                            <td>0.8%</td>
                            <td>0.7%</td>
                            <td>888元</td>
                            <td>188元</td>
							<td>无</td>
							<td>无</td>
                        </tr>
                        <tr>
                            <td>
                                <span class="star4 pull-left"></span>
                                <span class="starword pull-left">黄金VIP</span>
                                <div class="clearfix"></div>
                            </td>
                            <td>≥200万</td>
                            <td>≥500万</td>
                            <td>1.0%</td>
                            <td>0.8%</td>
                             <td>3888元</td>
							<td>388元</td>
							<td>有</td>
							<td>每年一次</td>
                        </tr>
                        <tr>
                            <td>
                                <span class="star5 pull-left"></span>
                                <span class="starword pull-left">钻石VIP</span>
                                <div class="clearfix"></div>
                            </td>
                            <td>≥500万</td>
                            <td>≥1,000万</td>
                            <td>1.2%</td>
                            <td>1.0%</td>
                               <td>8888元</td>
							<td>888元</td>
							<td>有</td>
							<td>每半年一次</td>
                     
                       </tr>
                    </table>
                    <p>
                        <div>
                            <table>
                                <tr>
                                    <td width="80" valign="top">
                                        <span class="red">晋级时段：</span>
                                    </td>
                                    <td>北京时间每周一中午12:00至下周一中午12:00的有效投注额（老虎机和真人娱乐分开计算，完成任意一项即可晋级）；</td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <table>
                                <tr>
                                    <td width="80" valign="top">
                                        <span class="red">周年礼金：</span>
                                    </td>
                                    <td>会员注册后，每满一年享有一次周年礼金（金额由当前贵宾等级决定）；</td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <table>
                                <tr>
                                    <td width="80" valign="top">
                                        <span class="red">奢华旅游：</span>
                                    </td>
                                    <td>黄金VIP每年可申请一次，钻石VIP每半年可申请一次，具体行程以当时官方活动为准（请提前一周联系客服咨询申请）;</td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <table>
                                <tr>
                                    <td width="80" valign="top">
                                        <span class="red">出款：</span>
                                    </td>
                                    <td>洗码、晋级礼金、周年礼金均只需一倍有效投注额即可出款;</td>
                                </tr>
                            </table>
                        </div>
						
						 <div>
                            <table>
                                <tr>
                                    <td width="80" valign="top">
                                        <span class="red">产品：</span>
                                    </td>
                                    <td>电子游艺指PT和MG电子游艺，真人娱乐指BBIN真人娱乐、PT和MG真人现场;</td>
                                </tr>
                            </table>
                        </div>
						 
                        <div>
                            <table>
                                <tr>
                                    <td width="80" valign="top">
                                        <span class="red">随时洗码：</span>
                                    </td>
                                    <td>仅针对真人娱乐产品。</td>
                                </tr>
                            </table>
                        </div>
						
                    </p>
                    <br/>
                    <br/>
                    <table class="more_actions">
                        <tr>
                            <td>
                            @if (string.IsNullOrEmpty(WebFunctions.GetCurrentUsername()))
                            {
                                <a class="greyButton" href="@Url.Action("Register", "Member")">免费开户 &gt;</a>
                            }
                            else 
                            {
                                <a class="greyButton" href="@Url.Action("Index", "Member")">立即存款 &gt;</a>
                            }
                            </td>
                            <td>
                                <a class="greyButton" href="@ImageServer/download/大奖娱乐.exe">下载客户端 &gt;</a>
                            </td>
                        </tr>
                    </table>
					</div>
					<!-- article vip -->
	            
            </div>
			<!-- leftContent -->
			<!-- rightContent -->
            <div class="rightContent">
               @Html.Action("SharedLogin", "CN", new { displayCS = "false" })
            </div>
			<!-- rightContent -->
		</div>
		<!-- leftRightContent-->

            <div class="clearfix"></div>
        </div>
        <ul class="zoneBtn horizontalList clearfix">
            <li class="tw_bbin borderRight"></li>
            <li class="macau_ag "></li>
            <li class="china_ag "></li>
            <li class="electronic borderLeft"></li>
        </ul>
    </div>
</div>