@using Heji.Web.Helpers
@{
    ViewBag.Title = "常见问题 - VIP俱乐部 - 大奖娱乐官方网站";
    Layout = "~/Views/Shared/_CNLayout.cshtml";
    string ImageServer = ViewContext.ViewData["ImageServer"].ToString();

}
@section AdditionalStyles {
    <link rel="stylesheet" href="@ImageServer/Content/Styles/vip.css" />
}
<div id="wrapper">
    <div class="container">
        <div class="leftRightContent">
            <div class="leftContent">
                <ul id="vipNav" class="sectionNav transparent black">
                    <li class="first button"><a href="@Url.Action("VIPClub", "CN")" target="_self">贵宾福利</a></li>
                    <li class="separate">|</li>
                    <li class="button"><a href="@Url.Action("VIPPrivilege", "CN")" target="_self">贵宾特权</a></li>
                    <li class="separate">|</li>
                    <li class="button active"><a href="@Url.Action("VIPFAQ", "CN")" target="_self">常见问题</a></li>
                    <li class="separate">|</li>
                    <li class="button"><a href="@Url.Action("VIPTerms", "CN")" target="_self">规则条款</a></li>
                </ul>
                <div class="banner">
                    <img src="@ImageServer/Content/Images/vip/club_03.jpg" alt="" />
                </div>
                <div class="article vip-faq">
                    <h4 class="red">星级俱乐部常见问题</h4><br />
                    <ul class="numListPoint">
                        <li class="num1">
                            <div class="red">如何提高大奖娱乐贵宾会员等级？</div>
                            大奖娱乐对会员等级的晋升有一定的要求，每一个级别所需的要求各不相同，一周内（北京时间每周一中午12:00至下周一中午12:00）只需完成相应级别所需有效投注额要求即可完成晋升。
                        </li>
                        <li class="num2">
                            <div class="red">如何查询自己的贵宾会员等级？</div>
                            登录大奖娱乐会员账号，进入会员中心即可自助查看贵宾会员级别，也可联系客服进行查询。
                        </li>
                        <li class="num3">
                            <div class="red">大奖娱乐贵宾有哪些特权？</div>
                            高额洗码、晋级礼金、周年礼金、奢华旅游、7x24小时优质客户服务应有尽有，具体请查看贵宾会页面或联系客服进行咨询。
                        </li>
                        <li class="num4">
                            <div class="red">是否可以终身享受大奖娱乐贵宾会员所提供的特权？</div>
                            一旦成为大奖娱乐贵宾会员，即可终生享有所有特权服务，一次加入终身受益。
                        </li>
                        <li class="num5">
                            <div class="red">还会有更多贵宾特权开放吗？</div>
                            大奖娱乐会定期针对网站整体运营情况及不断收集会员的意见建议对特权及服务做出调整，使大奖娱乐贵宾会员不断拥有更多特权及更好的服务。
                        </li>
                    </ul>

                    <br /><br />
                <table class="more_actions">
                    <tr>
                        <td>
                        @if (string.IsNullOrEmpty(WebFunctions.GetCurrentUsername()))
                        {
                            <a class="greyButton" href="@Url.Action("Register", "Member")">免费开户 &gt;</a>
                        }
                        else 
                        {
                            <a class="greyButton" href="@Url.Action("Index", "Member")">立即存款 &gt;</a>
                        }
                        </td>
                        <td>
                            <a class="greyButton" href="@ImageServer/download/大奖娱乐.exe">下载客户端 &gt;</a>
                        </td>
                    </tr>
                </table>
                </div>

            </div>
            <div class="rightContent">
                @Html.Action("SharedLogin", "CN", new { displayCS = "false" })
            </div>
            <div class="clearfix"></div>
        </div>
        <ul class="zoneBtn horizontalList clearfix">
            <li class="tw_bbin borderRight"></li>
            <li class="macau_ag "></li>
            <li class="china_ag "></li>
            <li class="electronic borderLeft"></li>
        </ul>
    </div>
</div>