@{
    ViewBag.Title = "VIP特权 - VIP俱乐部 - 大奖娱乐官方网站";
    Layout = "~/Views/Shared/_CNLayout.cshtml";
    string ImageServer = ViewContext.ViewData["ImageServer"].ToString();

}
@section AdditionalStyles {
    <link rel="stylesheet" href="@ImageServer/Content/Styles/vip.css" />
}
@section AdditionalScripts {
    <script type="text/javascript" src="@ImageServer/Scripts/Plugins/jquery.zaccordion.min.js"></script>
    <script type="text/javascript" src="@ImageServer/Scripts/Custom/vip-club.js"></script>
}
<div id="wrapper">
    <div class="container">
        <div class="leftRightContent">
            <div class="leftContent">
                <ul id="vipNav" class="sectionNav transparent black">
                    <li class="first button"><a href="@Url.Action("VIPClub", "CN")" target="_self">星级首页</a></li>
                    <li class="separate">|</li>
                    <li class="button active"><a href="@Url.Action("VIPPrivilege", "CN")" target="_self">VIP特权</a></li>
                    <li class="separate">|</li>
                    <li class="button"><a href="@Url.Action("VIPFAQ", "CN")" target="_self">常见问题</a></li>
                    <li class="separate">|</li>
                    <li class="button"><a href="@Url.Action("VIPTerms", "CN")" target="_self">规则条款</a></li>
                </ul>
                <div class="banner">
                    <img src="@ImageServer/Content/Images/vip/privilege_03.jpg" alt="" />
                </div>
                <div class="article vip-privilege">
                    <div class="tabBlock">
                        <div class="tabButton">
                            <div class="tab active" id="other">生活特权</div>
                            <div class="tab " id="privilege">游戏特权</div>
                            <div class="tab" id="service">服务特权</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="tabContent content3 active" id="other_content">
                            <br />
                            <table>
                                <tr>
                                    <td width="208"><img src="@ImageServer/Content/Images/vip/privilege_3_07.jpg" alt=""></td>
                                    <td width="20">&nbsp;</td>
                                    <td valign="top">
                                        <div class="red">免费豪华海外游</div>
                                        1、6星级的会员每年可申请一次澳门/菲律宾海外游，7星级的会员每半年可申请一次澳门/菲律宾海外游。不但可实地感受和记娱乐在澳门、菲律宾的实体贵宾厅，更可到AG/BBIN现场观光。 <br>
                                        2、提供3000元的机票报销、五星级酒店住宿（2晚）、豪车接送、专业VIP秘书陪同。详情请谘询在线客服。

                                    </td>
                                </tr>
                                <tr>
                                    <td width="208"><img src="@ImageServer/Content/Images/vip/privilege_3_10.jpg" alt=""></td>
                                    <td width="20">&nbsp;</td>
                                    <td valign="top">
                                        <div class="red">周年礼金年年有</div>
                                        周年礼金：是指会员在和记成功註册满一周年的礼金。该礼金无需用户手动申请，专业客服会在当月通知满足条件的用户。并在通知后的24小时内发放。
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="tabContent content1 " id="privilege_content">
                            <br />
                            <table>
                                <tr>
                                    <td width="208"><img src="@ImageServer/Content/Images/vip/privilege_1_10.jpg" alt=""></td>
                                    <td width="20">&nbsp;</td>
                                    <td valign="top">
                                        <div class="red title">周周返，不封顶</div>
                                        1.周周有洗码，4-7星级的会员只要有效投注额≥10万，即可享受“随时洗码”的专属服务。<br />
                                        2.星级会员享受高比例保底洗码优惠，洗码不封顶，用实力保证每位VIP会员的最大利益。<br />
                                        3.所有游戏均可享受洗码优惠，包括真人视讯、金臂下注、电子游艺、体育投注。
                                    </td>
                                </tr>
                                <tr>
                                    <td width="208"><img src="@ImageServer/Content/Images/vip/privilege_1_07.jpg" alt=""></td>
                                    <td width="20">&nbsp;</td>
                                    <td valign="top">
                                        <div class="red title">升级礼金人人有 最高16,400元</div>
                                        1.会员达到相应晋级要求后，其升级礼金将自动一次性发放。最高可达16,400元。<br />
                                        2.所有升级礼金红利在取现前，需要达到五倍流水（有效投注额）
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="tabContent content2" id="service_content">
                            <br />
                            <table>
                                <tr>
                                    <td width="208"><img src="@ImageServer/Content/Images/vip/privilege_2_07.jpg" alt=""></td>
                                    <td width="20">&nbsp;</td>
                                    <td valign="top">
                                        <div class="red">7x24小时高级客服热情体贴为您服务</div>
                                        1、秉承服务品质高于一切的原则，和记娱乐为您提供7x24小时的无间歇高级客服服务。<br />
                                        2、4星级及以上的会员更可享受专属一对一的客服服务。为用户提供更贴心、更优质的服务。<br />
                                        3、随时可预约专属客户经理进行回访，给您带来一站式的全新服务体验。
                                    </td>
                                </tr>
                                <tr>
                                    <td width="208"><img src="@ImageServer/Content/Images/vip/privilege_2_10.jpg" alt=""></td>
                                    <td width="20">&nbsp;</td>
                                    <td valign="top">
                                        <div class="red">绿色存取款高速通道</div>
                                        1、开辟星级专属的存取款通道，优先安排高星级的存取款请求，力求保证所有星级用户能顺畅无阻地享受游戏。<br />
                                        2、保证”5分钟上分，30分钟到账“的存取款速度，还将继续致力於开发最新的收支业务和人员培训保证高效的存取款。
                                    </td>
                                </tr>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="rightContent">
                @Html.Action("SharedLogin", "CN", new { displayCS = "false", displayPlatforms = "false" })
                 <div class="block"><img src="/Content/Images/member/01_06.jpg" alt=""></a></div>
                 <div class="block"><a href="/CN/Promotions#p2"><img src="/Content/Images/home/huodong02.jpg" alt=""></a></div>
                 <div class="block"><a href="/CN/Promotions#p3"><img src="/Content/Images/home/huodong03.jpg" alt=""></a></div>
                 <div class="block"><a href="/CN/Promotions#p4"><img src="/Content/Images/home/huodong04.jpg" alt=""></a></div>
                 <div class="block"><a href="/CN/Promotions#p5"><img src="/Content/Images/home/huodong05.jpg" alt=""></a></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <ul class="zoneBtn horizontalList clearfix">
            <li class="tw_bbin borderRight"></li>
            <li class="macau_ag "></li>
            <li class="china_ag "></li>
            <li class="electronic borderLeft"></li>
        </ul>
    </div>
</div>