@using Heji.Web.Helpers
@using Heji.Library.Models.TO
@model Heji.Web.Models.AgentFinancialStatementViewModel
           
@{
    ViewBag.Title = "代理中心 - 大奖娱乐官方网站";
    Layout = "~/Views/Shared/_AgentLayout.cshtml";
    string ImageServer = ViewContext.ViewData["ImageServer"].ToString();

}

@section AdditionalScripts {
    <script type="text/javascript" src="@ImageServer/Scripts/Custom/agent.js"></script>
}

<div id="wrapper">
    <div class="container">
        <div class="leftRightContent">
            <div class="leftContent">
                <div class="banner">
                    <img src="@ImageServer/Content/Images/center/banner_finance.jpg" alt="" />
                </div>
                <div class="article finance">
                    <div class="lineBlock"></div>
                    <p class="articleHeader">现金记录</p>
                    <table>
                        <tr class="header">
                            <td rowspan="2">会员</td>
                            <td rowspan="2">时间</td>
                            <td colspan="4">真人娱乐</td>
                            <td colspan="2">电子游艺</td>
                            <td rowspan="2">投注小计</td>
                            <td rowspan="2">派彩小计</td>
                        </tr>
                        <tr class="header">
                            <td>BBin投注</td>
                            <td>BBin派彩</td>
                            <td>PT投注</td>
                            <td>PT派彩</td>
                            <td>PT投注</td>
                            <td>PT派彩</td>
                        </tr>
                        @if (Model.Bettings != null && Model.BettingsCount > 0)
                        {
                            foreach (BettingTO tnx in Model.Bettings)
                            {
                                <tr>
                                    <td>@tnx.Username</td>
                                    <td>@tnx.Date.ToString("yyyy-MM-dd")</td>
                                    <td>@tnx.BBinLiveBets</td>
                                    <td>@tnx.BBinLivePayouts</td>
                                    <td>@tnx.PTLiveBets</td>
                                    <td>@tnx.PTLivePayouts</td>
                                    <td>@tnx.PTFlashBets</td>
                                    <td>@tnx.PTFlashPayouts</td>
                                    <td>@(tnx.BBinLiveBets + tnx.PTLiveBets + tnx.PTFlashBets)</td>
                                    <td>@(tnx.BBinLivePayouts + tnx.PTLivePayouts + tnx.PTFlashPayouts)</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <td colspan="16">暂无数据！</td> 
                        }
                    </table>
                    @if (Model.Bettings != null && Model.BettingsCount > 0)
                    {
                        <div>@Html.Pager("", Model.PageNum, Model.PageSize, Model.BettingsCount)</div>
                    }
                </div>
            </div>
            @Html.Action("SharedAgentInformation", "Agent")
            <div class="clearfix"></div>
        </div>
        <ul class="zoneBtn horizontalList clearfix">
            <li class="tw_bbin borderRight"></li>
            <li class="macau_ag "></li>
            <li class="china_ag "></li>
            <li class="electronic borderLeft"></li>
        </ul>
    </div>
</div>

